* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --box-dark: #000000;
    --box-primary: #0062ff;
    --box-secondary: #b4d0e6;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    min-width: 1440px;
}

.d-flex {
    display: flex;

}

.debug {
    * {
        border: 1px dashed;
    }

    .container {
        background-color: rgb(82, 69, 45);
    }

    .jumbotron {
        height: 400px;

        .content {
            height: 100%;
            background-color: rgb(133, 88, 5);
        }
    }

    .w-40,
    .w-60 {
        height: 300px;
        background-color: blue;
    }

    .price {
        height: 300px;
    }

    .col-4 {
        height: 300px;
    }

    .card {
        background-color: rgb(7, 58, 11);
    }

    .p-pagina {
        height: 300px;
        background-color: brown;
    }

    .column {
        height: 500px;
    }
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}


.container {
    width: 80%;
    margin: auto;
    max-width: 1152px;

}

.container-sm {
    width: 70%;
    margin: auto;
    max-width: 992px;

}


/* #region header */

header {

    padding: 0 1rem;
    color: white;



    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;


        .left_menu,
        .right_menu,
        ul {
            align-items: center;
            display: flex;
            list-style: none;
        }


        a {

            text-decoration: none;
            color: rgb(0, 0, 0);
        }





    }
}





.btn {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    background-color: var(--box-primary);
    

}

.btn-secondary{
padding: 1rem 2rem;


}

/* #endregion header */



/* #region main */

.jumbotron {

    height: 600px;
    background-color: var(--box-secondary);
    margin-bottom: 6rem;

    h1 {
        font-size: 4.5rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    p {
        line-height: 1.75rem;
        font-size: 1rem;
        margin-bottom: 2rem;


    }


    img {
        width: 120%;
    }
}

.raw {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}




.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

/* #endregion main */